*{
    font-family: Times New Roman;
}

#image1{
    
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.app-container{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.input-label{
    display: block;
    margin-bottom: 5px;
    color:black;

}

input[type="text"]
{
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    font-size: 20px;
}

button{
    padding: 15px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

}
#Gen{
    background-color: #3498b3;
    width: 80%;
}

#Gen:disabled{
    background-color: #bdc3c7;
    cursor: not-allowed;

}
#Gen:hover{
    background-color: #219a52;
}

#Download{
    background-color: #27ae60;
    margin-top: 10px;
    width: 80%;
}

#Download:hover{
    background-color: #219a52;
}
